<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://f-consumption-dotnet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/99c0b5be-8a5d-468f-bd36-261b19b1db99/resourceGroups/APP/providers/Microsoft.Web/sites/f-consumption-dotnet</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>f-consumption-dotnet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>f-consumption-dotnet</DeployIisAppPath>
  </PropertyGroup>
</Project>